.arx-esempioRotta{

}

.arx-esempioRotta label {
    font-family: sans-serif;
    font-size: 1em;
    padding-right: 10px;
}

.arx-esempioRotta select {
    font-size: 0.9em;
    padding: 2px 5px;
}

.arx-esempioRotta .es-container{
    display: flex;
    flex-direction: column;

}
.arx-esempioRotta .es-row{
    display: flex;
    flex-direction: row;
}
.arx-esempioRotta .es-key{
    flex: 0 0 30%;
}