<div class="arx-esempioRotta">
    <label for="aoo-select">Choose a aoo:</label>

    <select name="aoos" id="aoo-select" ng-model="aooSelected">
        <option ng-repeat="aoo in aoos" ng-value="aoo.code" >
            {{aoo.name}}
        </option>        
    </select>	
    <div>selected: {{aooSelected}}</div>
    <div class="es-container">
        <div ng-repeat="cl in classes"  class="es-row">        
            <div class="es-key" ng-click="show(cl)" >{{cl.key}}</div>
            <div>{{cl.description}}</div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="./Scripts/plugins/esempioRotta/esempioRotta.css">
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        {{item}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>